#name of the workflow
name: Dockerizing Application

#trigger the workflow on push or pull request. when should we run this workflow
on:
  push:
    branches: ["main"]

#what should we run
jobs:
  build-run-docker-image:
    runs-on: ubuntu-latest #specifies the runner to build the job
    steps: 
      - name: Checkout repository content
        uses: actions/checkout@v3
      
      - name: check content of the repository
        run: ls -lart

      - name: check if Docker is installed
        run: docker --version

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker 
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: datapandassandbox/application-dockerize-gha:latest

      - name: Launch EC2 Instance
        run: |
          aws ec2 run-instances \
          --image-id ami-099400d52583dd8c4 \
          --instance-type t2.micro \
          --key-name April2024key1

      


  # second-job:

  # third-jobs





