name: Deploy to Kubernetes Environment

on: 
  push:
    branches: ["main"]

  workflow_dispatch:
    inputs:
      create_k8s_cluster:
        description: "Whether or not to create the k8s cluster"
        required: true
        default: "no"



jobs:
  deploy-to-k8s:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository content
      uses: actions/checkout@v3 

    - name: check content of the repository
      run: ls -lart

    - name: check if Docker is installed
      run: docker --version

    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ vars.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and push Docker 
      uses: docker/build-push-action@v6
      with:
        push: true
        tags: datapandassandbox/application-dockerize-gha:latest

    - name: Configure AWS Credentials 2
      uses: aws-actions/configure-aws-credentials@v5.1.1
      with:
        aws-region: eu-west-2
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}


    - name: check if security group exists
      id: security_group_exists
      run: |
        security_group=$(aws ec2 describe-security-groups \
          --filters Name=group-name,Values=MySecurityGroupGHA2026_v2 \
          --query "SecurityGroups[*].{ID:GroupId}" \
          --output text)

        echo "Security group value: $security_group"

        if [ "$security_group" = "None" ] || [ -z "$security_group" ]; then
          echo "Security group does not exist. Creating a new one."
          echo "sg_id=false" >> "$GITHUB_OUTPUT"
        else
          echo "Security group exists. Reusing the existing one."
          echo "sg_id=true" >> "$GITHUB_OUTPUT"
        fi
        
    - name: create security group if not exists
      id: create_sg
      if: steps.security_group_exists.outputs.sg_id == 'false'
      run: |
        aws ec2 create-security-group \
          --group-name MySecurityGroupGHA2026_v2 \
          --description "My security group MySecurityGroupGHA2026" \
          --vpc-id vpc-b9b523d0

    - name: add security group ingress rules
      if: steps.security_group_exists.outputs.sg_id == 'false'
      run: |
        aws ec2 authorize-security-group-ingress \
          --group-name MySecurityGroupGHA2026_v2 \
          --protocol tcp \
          --port 22 \
          --cidr 0.0.0.0/0  
        aws ec2 authorize-security-group-ingress \
          --group-name MySecurityGroupGHA2026_v2 \
          --protocol tcp \
          --port 80 \
          --cidr 0.0.0.0/0


    - name: Launch EC2 Instance
      id: INSTANCE_ID
      run: |
        INSTANCE_ID=$(aws ec2 run-instances \
        --image-id ami-099400d52583dd8c4 \
        --instance-type t2.micro \
        --key-name April2024key1 \
        --security-groups MySecurityGroupGHA2026_v2 \
        --user-data file://user-data.txt \
        --tag-specifications 'ResourceType=instance,Tags=[{Key=Name,Value=GithubActionKubernetes}]'  --query 'Instances[0].InstanceId' --output text)
        echo "instance_id=$INSTANCE_ID" >> "$GITHUB_OUTPUT"

    - name: Set up kubectl
      uses: azure/setup-kubectl@v3
      with:
        version: 'latest'

    - name: Test kubectl installation
      run: kubectl version --client

    - name: Install eksctl
      run: |
        # for ARM systems, set ARCH to: `arm64`, `armv6` or `armv7`
        ARCH=amd64
        PLATFORM=$(uname -s)_$ARCH
        curl -sLO "https://github.com/eksctl-io/eksctl/releases/latest/download/eksctl_$PLATFORM.tar.gz"

        # (Optional) Verify checksum
        curl -sL "https://github.com/eksctl-io/eksctl/releases/latest/download/eksctl_checksums.txt" | grep $PLATFORM | sha256sum --check

        tar -xzf eksctl_$PLATFORM.tar.gz -C /tmp && rm eksctl_$PLATFORM.tar.gz

        sudo install -m 0755 /tmp/eksctl /usr/local/bin && rm /tmp/eksctl
        eksctl version



    - name: install k8s cluster
      if: github.event.inputs.create_k8s_cluster == 'yes'
      run: |
        ls -lart
        chmod +x ./install-k8s-cluster.sh
        ./install-k8s-cluster.sh

    - name: install awscli v2
      run: |
        curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
        unzip awscliv2.zip
        sudo ./aws/install
        aws --version

    - name: Update kubeconfig
      run: |
        aws eks update-kubeconfig --region eu-west-2 --name ghaCluster


 