name: Deploy to Kubernetes Environment

on: 
  push:
    branches: ["main"]


jobs:
  deploy-to-k8s:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository content
      uses: actions/checkout@v3 
